.stage-block{
    border-style: solid;
    width: 300px;
    height: 50px;
    padding-top: 20px;
    padding-left: 5px;
    margin: 10px;

}

.message-block{
    border-style: solid;
    width: 300px;
    height: 40px;
    margin: 10px;
    padding-left: 5px;
    padding-top: 5px;
    overflow-y: scroll;
    font-size: 80%;
}

.player-info-block{
    border-style: solid;
    width: 300px;
    height: 175px;
    padding-left: 5px;

    margin: 10px;

}

.avatar-block {
    display: flex;
    width: 250px;
    margin: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}



.avatar-img {
    height: 40px;
    margin: 5px;
}



img.photo{
    height: 135px;
    vertical-align: bottom;
}

.player-info{
    display: inline-block;
    width: 150px;
    line-height: 50%;
    font-size: 75%;
}

.player-photo{
    display: inline-block;
}

.player-camera{
    position: relative;
    height: 80px;
    top: -30%;
    left: 80%;
}
.avatar-container {
    height: 45px;
    width: 45px;
    zoom: 110%;

    position: relative;
}

.camera{
    position: absolute;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    top: 70%;
    left: 70%;


}
.player-team{
    position: absolute;
    font-size: 60%;
    top: 15%;
    left: 90%;
}

button.endturn{
    margin-left: 100px;
    background-color: gainsboro;
    height: 30px;
    width: 100px;
}

.controller-block{
    display: flex;
    width: 300px;
    height: 40px;
    margin: 10px;
}

.controller-button{
    flex-grow: 1;
    background-color: gainsboro;
    margin: 3px;
    font-size: 65%;
}

.controller-util{
    margin: 10px;
}

.back{
    background-color: gainsboro;
    width: 100px;
    height: 50px;
}

.end-game{
    margin: 10px;
}